@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=East+Sea+Dokdo&family=Yeon+Sung&display=swap');

@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'SangSangAnt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangAnt.woff') format('woff');
}

@font-face {
    font-family: 'Cafe24Syongsyong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMKIRANGHAERANG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMKIRANGHAERANG.woff') format('woff');
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: black;
}

p {
	font-family: 'Cute Font', cursive;
	font-weight: bold;
}

.angels {
	font-family: 'Cafe24Syongsyong';
	font-size: 45px;
	font-style:italic;
	color: #DD9000;
}

.annabel {
	font-family: 'Cafe24Oneprettynight';
	font-size: 40px;
	color:#E25DE5;
}

.devils {
	font-family: 'BMKIRANGHAERANG';
	font-weight: 100;
	color: #730000;
	font-style: italic;
}

.kentauros {
	font-family: 'HeirofLightBold';
	font-size: 40px;
	color: #2E1F02;
	font-style: italic;
}

.monster {
	font-family: 'SangSangRock';
	font-size: 45px;
	color: #00093F;
}

.moon {
	font-family: 'SangSangAnt';
	color: #0E118B;
	font-size: 65px;
	font-weight: 100;
}

.box {
	width: 1020px;
	height: 680px;
	margin: 0 auto;
	background-color: black;
	position: relative;
}

.BGimg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	z-index: 1;
}


.text {
	width: 1020px;
	height: 680px;
	position: absolute;
	text-align: center;
	font-size: 50px;
	overflow-y: scroll;
	line-height: 2;
	cursor: default;
	z-index: -1;
	
	animation: 1.5s linear 0s 1 normal forwards running FadeIn_text;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

.text_bg {
	background-color: white;
	opacity: 0.7;
	width: 1020px;
	height: 680px;
	position: absolute;
	z-index: -2;
	animation: 1s linear 0s 1 normal forwards running FadeIn_bg;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

	
@keyframes FadeIn_text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes FadeIn_bg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.7;
	}
}

.text::-webkit-scrollbar { /* 스크롤바 숨기기 */
    display: none; /* Chrome, Safari, Opera에서만 작동함 */
}

.start_btn{
	display: block;
	margin: 0 auto;
	width: 300px;
	cursor: pointer;
}

.next_btn{
	position: absolute;
	display: block;
	top: -100px;
	left: -400px;
	margin: 0 auto;
	width: 300px;
	cursor: pointer;
	z-index: -3;
	animation: 1s linear 0s 1 normal forwards running FadeIn_btn;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

@keyframes FadeIn_btn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.OBJ_selection {
	position: absolute;
	cursor: pointer;
	z-index: 2;
	animation: moving 1s; 
	animation-iteration-count: infinite;
	transform-origin: center center;
	animation-play-state: paused;
}

@keyframes moving {
0% { transform: rotate(0deg); }
50% { transform: rotate(10deg); }
100% { transform: rotate(0deg); }
}

.OBJ_selection:hover{
  animation-play-state: running;
}

#back_btn {
	position: absolute;
	top: -100px;
	left: -400px;
	margin-left: 100px;
	width: 200px;
	cursor: pointer;
	z-index: -3;
	animation: 1s linear 0s 1 normal forwards running FadeIn_btn;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

#to_index_btn {
	position: absolute;
	top: -100px;
	left: -400px;
	margin-left: 300px;
	width: 290px;
	cursor: pointer;
	z-index: -3;
	animation: 1s linear 0s 1 normal forwards running FadeIn_btn;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

#img2 {
	width: 1020px;
	object-fit: contain;
	z-index: -1;
	margin-top: 0 auto;
	position: absolute;
	
	animation: 1s linear 0s 1 normal forwards running FadeIn_text;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;

}

#img3 {
	width: 1020px;
	object-fit: contain;
	z-index:-2;
	margin-top: 0 auto;
	position: absolute;
	
	animation: 1s linear 0s 1 normal forwards running FadeIn_text;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

.butterfly {
	position: absolute;
	width:165px;
	height:148px;
	cursor: pointer;
	z-index: 2;
	background-size: cover;
	animation-name: flying;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes flying {
  0%   {left:0px; top:0px;background-image: url("../images/butterfly/1.png");}      
  20%   {left:0px; top:0px;background-image: url("../images/butterfly/2.png");}           
  40%   {left:0px; top:0px;background-image: url("../images/butterfly/3.png");}           
  60%   {left:0px; top:0px;background-image: url("../images/butterfly/4.png");}          
  80%   {left:0px; top:0px;background-image: url("../images/butterfly/5.png");}         
  100%  {left:0px; top:0px;background-image: url("../images/butterfly/6.png");}
}

#lookBack_btn {
	position: absolute;
	top: -100px;
	width: 300px;
	cursor: pointer;
	margin: 0 auto;
	z-index: -3;
	animation: 1s linear 0s 1 normal forwards running FadeIn_btn;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

#notLookBack_btn {
	position: absolute;
	top: -100px;
	width: 480px;
	cursor: pointer;
	margin: 0 auto;
	z-index: -3;
	animation: 1s linear 0s 1 normal forwards running FadeIn_btn;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-play-state: paused;
}

#play_btn {
	position: absolute;
	width: 50px;
	cursor: pointer;
	margin-left: 470px;
	opacity: 0.5;
}

#play_btn:hover {
	opacity: 1;
}

#stop_btn {
	position: absolute;
	width: 50px;
	cursor: pointer;
	margin-left: 550px;
	opacity: 0.5;
}

#stop_btn:hover {
	opacity: 1;
}

#effect_play {
	width:50px;
	position:absolute;
	top: 620px;
	left: 10px;
	z-index: 10;
	cursor: pointer;
	opacity: 0.5;
}

#effect_play:hover {
	opacity: 1;
}

#effect_stop {
	width:50px;
	position:absolute;
	top: 620px;
	left: 70px;
	z-index: 10;
	cursor: pointer;
	opacity: 0.5;
}

#effect_stop:hover {
	opacity: 1;
}